
<!--
    navbar
        - navbar__left
            - hamburger
            - logo
         - navbar__center
            - search bar
        - navbar__right
            - new video
-->

<nav class="navbar">
    <div class="navbar__left">

<!--        <div class="navbar__hamburger">-->
<!--            <i class="nf nf-md-menu"></i>-->
<!--        </div>-->

        <div class="navbar__logo">
            <a href="/"><i class="nf nf-fa-home"></i></a>
        </div>
    </div>

    <div class="navbar__center">

        <form action="/search" method="GET">
            <input type="text" name="q" placeholder="Search library">
            <button type="submit"><i class="nf nf-fa-search"></i></button>
        </form>

    </div>

    <div class="navbar__right">
        <div class="navbar__new-video">
            <a href="/newVideo"><i class="nf nf-md-video_plus"></i></a>
        </div>

        <div class="navbar__theme-toggle" onclick="toggleTheme()" tabindex="0"
             onkeydown="if (event.keyCode === 13) toggleTheme()" id="theme-toggle" title="Toggle theme">
            <i class="nf"></i>
        </div>

        <script>
            setIcon("{{res.locals.theme}}");
        </script>

    </div>

</nav>
