<!DOCTYPE html>
<html lang="en" data-theme="{{res.locals.theme}}">
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <script src="javascript/theme.js"></script>

</head>
<body>

{{> navbar}}

{{{body}}}
</body>
</html>
