<main>
    <h1>New Video</h1>
    <p>Use this to search for a new video, and download it to the server for later viewing.</p>


    {{#if video}}

        <h2>Does this look right?</h2>
        {{> video video=video}}

        <a href="/video/download?v=https://www.youtube.com/watch?v={{video.id}}&r=../watch&m=false">Yes, download it!</a>
        <a href="/newVideo">No, try again</a>

    {{else}}
        <h2>Search for a video</h2>
        <form action="/video/download" method="get">
            <label for="videoUrl">Video URL</label>
            <input type="text" name="v" id="videoUrl" placeholder="https://www.youtube.com/watch?v=..."/>
            <input hidden="hidden" name="r" value="../newVideo"/>
            <input hidden="hidden" name="m" value="true"/>
            <input type="submit" value="Download">
        </form>
    {{/if}}




</main>