<main>

    <div class="video__player-container">

        <div class="video__player-container__viewport">
            <video class="video__player" controls>
                <source src="video/stream?v={{video.id}}" type="video/webm">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>

</main>