.navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;

  padding: 0.5em;
  background-color: var(--background-transparent);
  backdrop-filter: blur(1em) brightness(0.8);
  border-bottom: 1px solid var(--border-transparent);

  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  .navbar__logo {
    font-weight: bold;
  }

  .navbar__center {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    flex: 0.25;

    form {

      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.1em;

      input {
        flex: 1;
        padding: 0.5em 1em;
        border-radius: 1em 0.2em 0.2em 1em;
        border: 1px solid var(--border-transparent);
        background-color: var(--background-transparent);
        color: var(--text);
        text-align: center;
        transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);


        &:hover, &:focus {
          outline: none;
          border: 1px solid var(--primary);
          background-color: var(--primary-transparent);
        }
      }

      button {
        height: 100%;
        width: 3em;
        padding: 0.5em;
        border-radius: 0.2em 1em 1em 0.2em;
        border: 1px solid var(--border-transparent);
        background-color: var(--background-transparent);
        color: var(--text);
        cursor: pointer;

        transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);

        &:focus, &:hover {
          outline: none;
          border: 1px solid var(--primary);
          background-color: var(--primary-transparent);
        }
      }

    }

  }

  & > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
  }

  a, .navbar__hamburger {

    text-decoration: none;
    color: var(--text);

    padding: 0.5em;
    background-color: var(--secondary);
    border-radius: 0.5em;
    border: 1px solid transparent;

    transition: 0.1s cubic-bezier(0.4, 0, 0.2, 1);

    &:active {
      border: 1px solid var(--border-transparent);
    }

    &:hover {
      filter: brightness(1.2);
    }

  }
}
