@import "https://www.nerdfonts.com/assets/css/webfont.css";
:root {
  --white: #fff; }

:root[data-theme="light"] {
  --text: rgb(22, 8, 22);
  --border: rgb(54, 39, 54);
  --background: rgb(248, 236, 248);
  --background-secondary: rgb(228, 216, 228);
  --primary: rgb(102, 39, 104);
  --secondary: rgb(216, 228, 221);
  --accent: rgb(154, 95, 55);
  --text-transparent: rgba(22, 8, 22, 0.5);
  --border-transparent: rgba(54, 39, 54, 0.2);
  --background-transparent: rgba(248, 236, 248, 0.5);
  --primary-transparent: rgba(102, 39, 104, 0.5);
  --secondary-transparent: rgba(216, 228, 221, 0.5);
  --accent-transparent: rgba(154, 95, 55, 0.5); }

:root[data-theme="dark"], :root:not([data-theme]), :root:not([data-theme="light"]) {
  --text: rgb(247, 234, 247);
  --border: rgb(247, 234, 247);
  --background: rgb(19, 7, 19);
  --background-secondary: rgb(39, 27, 39);
  --primary: rgb(214, 149, 216);
  --secondary: rgb(27, 39, 32);
  --accent: rgb(199, 139, 100);
  --text-transparent: rgba(247, 234, 247, 0.5);
  --border-transparent: rgba(247, 234, 247, 0.2);
  --background-transparent: rgba(19, 7, 19, 0.5);
  --primary-transparent: rgba(214, 149, 216, 0.5);
  --secondary-transparent: rgba(27, 39, 32, 0.5);
  --accent-transparent: rgba(199, 139, 100, 0.5); }

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 0.5em;
  background-color: var(--background-transparent);
  backdrop-filter: blur(1em) brightness(0.8);
  border-bottom: 1px solid var(--border-transparent);
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
  .navbar .navbar__logo {
    font-weight: bold; }
  .navbar .navbar__center {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    flex: 0.25; }
    .navbar .navbar__center form {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.1em; }
      .navbar .navbar__center form input {
        flex: 1;
        padding: 0.5em 1em;
        border-radius: 1em 0.2em 0.2em 1em;
        border: 1px solid transparent;
        background-color: var(--secondary);
        color: var(--text);
        text-align: center;
        transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
        .navbar .navbar__center form input:hover, .navbar .navbar__center form input:focus {
          outline: none;
          border: 1px solid var(--primary);
          background-color: var(--background); }
      .navbar .navbar__center form button {
        height: 100%;
        width: 3em;
        padding: 0.5em;
        border-radius: 0.2em 1em 1em 0.2em;
        border: 1px solid transparent;
        background-color: var(--secondary);
        color: var(--text);
        cursor: pointer;
        transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
        .navbar .navbar__center form button:focus, .navbar .navbar__center form button:hover {
          outline: none;
          border: 1px solid var(--primary);
          background-color: var(--background); }
  .navbar > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em; }
  .navbar a, .navbar .navbar__hamburger, .navbar .navbar__theme-toggle {
    text-decoration: none;
    color: var(--text);
    padding: 0.5em;
    background-color: var(--secondary);
    border-radius: 0.5em;
    border: 1px solid transparent;
    transition: 0.1s cubic-bezier(0.4, 0, 0.2, 1); }
    .navbar a:active, .navbar a:focus, .navbar .navbar__hamburger:active, .navbar .navbar__hamburger:focus, .navbar .navbar__theme-toggle:active, .navbar .navbar__theme-toggle:focus {
      border: 1px solid var(--border-transparent); }
    .navbar a:hover, .navbar a:focus, .navbar .navbar__hamburger:hover, .navbar .navbar__hamburger:focus, .navbar .navbar__theme-toggle:hover, .navbar .navbar__theme-toggle:focus {
      filter: brightness(1.2); }

.video {
  text-decoration: none;
  color: var(--text);
  display: flex;
  flex-direction: column;
  border-radius: 0.5em;
  background-color: var(--background-secondary);
  border: 1px solid var(--border-transparent);
  padding: 0.5em;
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
  .video__thumbnail {
    position: relative;
    aspect-ratio: 16/9;
    width: 100%;
    overflow: hidden;
    border-radius: 0.5em;
    background-color: var(--background-secondary); }
    .video__thumbnail-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(1em);
      opacity: 0;
      border-radius: 0.5em;
      z-index: 50;
      transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
      .video__thumbnail-overlay i {
        color: var(--white);
        font-size: 2em;
        text-decoration: none;
        aspect-ratio: 1/1; }
    .video__thumbnail img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .video__thumbnail-duration {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 0.5em;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 0.5em;
      font-size: 0.8em; }
  .video__duration {
    font-size: 0.8em;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5em; }
  .video__details {
    display: flex;
    flex-direction: column;
    gap: 0.25em; }
    .video__details-title {
      font-size: 1.2em; }
    .video__details-channel {
      font-size: 0.8em; }
  .video:hover, .video:focus-within {
    border: 1px solid var(--secondary);
    background-color: var(--secondary); }
    .video:hover .video__thumbnail-overlay, .video:focus-within .video__thumbnail-overlay {
      opacity: 1; }

@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.001ms !important; } }

* {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, p {
  margin: 1em 0 0.5em 0;
  margin-block-end: 0; }

h1, p {
  margin: 0; }

body, html {
  padding: 0;
  margin: 0;
  min-height: 100%;
  width: 100%; }

body {
  padding: 0;
  margin: 0;
  font-family: "Lucida Gr ande", Helvetica, Arial, sans-serif;
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1); }

main {
  padding: 1em;
  min-height: 100%;
  height: auto; }

a {
  color: var(--primary); }

.link__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em; }
  .link__row-link {
    text-decoration: none;
    color: var(--primary);
    padding: 0.5em 1em;
    background-color: var(--primary-transparent);
    border-radius: 0.5em;
    transition: color 0.2s ease-in-out; }
    .link__row-link:hover {
      color: var(--secondary); }

.video__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1em; }

.video__player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 768px;
  padding: 1em;
  aspect-ratio: 16/9; }
  .video__player-container .video__player-container__viewport {
    --ambient_size: 2em;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    background-color: var(--background); }
    .video__player-container .video__player-container__viewport canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      filter: blur(var(--ambient_size)); }
    .video__player-container .video__player-container__viewport video {
      border-radius: inherit;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1; }
  .video__player-container .video__player-container__info {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    background-color: var(--secondary-transparent);
    padding: 1em;
    margin-top: 1em; }
    .video__player-container .video__player-container__info .video__player-container__info__title {
      font-size: 1.5em;
      font-weight: bold; }
    .video__player-container .video__player-container__info .video__player-container__info__description {
      font-size: 1em;
      white-space: pre-wrap;
      word-break: break-word; }
  .video__player-container .container__info__details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 1em; }
  .video__player-container .video__player-container__info__details-item {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    gap: 0.5em;
    background-color: var(--secondary-transparent);
    color: var(--text);
    padding: 0.25em 0.5em;
    border-radius: 0.5em;
    user-select: none;
    border: 1px solid transparent;
    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
    .video__player-container .video__player-container__info__details-item[href] {
      background-color: var(--accent);
      color: var(--secondary); }
    .video__player-container .video__player-container__info__details-item:hover, .video__player-container .video__player-container__info__details-item:focus-within {
      color: var(--accent);
      background-color: var(--secondary);
      border: 1px solid var(--accent); }

@media (max-width: 768px) {
  main {
    padding: 0.5em; }
  .video__player-container {
    padding: 0.5em; } }

/*# sourceMappingURL=style.css.map */