:root[data-theme="light"] {
  --text: rgb(22, 8, 22);
  --background: rgb(248, 236, 248);
  --primary: rgb(102, 39, 104);
  --secondary: rgb(216, 228, 221);
  --accent: rgb(154, 95, 55);

  --text-transparent: rgba(22, 8, 22, 0.5);
  --background-transparent: rgba(248, 236, 248, 0.5);
  --primary-transparent: rgba(102, 39, 104, 0.5);
  --secondary-transparent: rgba(216, 228, 221, 0.5);
  --accent-transparent: rgba(154, 95, 55, 0.5);
}

:root[data-theme="dark"], :root:not([data-theme]), :root:not([data-theme="light"]) {
  --text: rgb(247, 234, 247);
  --border: rgb(247, 234, 247);
  --background: rgb(19, 7, 19);
  --primary: rgb(214, 149, 216);
  --secondary: rgb(27, 39, 32);
  --accent: rgb(199, 139, 100);

  --text-transparent: rgba(247, 234, 247, 0.5);
  --border-transparent: rgba(247, 234, 247, 0.2);
  --background-transparent: rgba(19, 7, 19, 0.5);
  --primary-transparent: rgba(214, 149, 216, 0.5);
  --secondary-transparent: rgba(27, 39, 32, 0.5);
  --accent-transparent: rgba(199, 139, 100, 0.5);
}
